:root {
  --main-font-color: #2D3440;
  --special-font-color: #565C66;
  --main-font: "Inter", sans-serif;
  --white: #ffffff;
  --black: #000000;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Ragular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  padding: 24px 40px;
  margin: 0 auto;
  min-height: 100%;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 16px;
  background-color: #FEAFC3;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #fcfcfc;
  outline: solid 4px rgba(252, 252, 252, 0.4);
  border: none;
  border-radius: 26px;
  padding: 0.8rem 2.1rem;
}

.page-header .container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.main-logo {
  display: block;
  width: 137px;
  height: 56px;
  background-image: url("../images/Logo.svg");
  background-size: 137px 56px;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.navigation-item:not(:last-of-type) {
  margin-right: 32px;
}

.navigation-link {
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 16px;
}

.user-navigation {
  margin-left: auto;
}

.user-navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.user-navigation-link:first-of-type {
  text-decoration: none;
  font-weight: 700;
  color: var(--main-font-color);
}

.user-nav-btn {
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 26px;
  padding: 8px 10px;
}

.search-btn {
  padding: 8.5px;
}

.user-nav-btn::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.search-btn::before {
  background-image: url("../images/search.svg");
}

.login-btn::before {
  display: inline-block;
  vertical-align: middle;
  padding-right: 9px;
  background-image: url("../images/login.svg");
}

.cart-btn::before {
  display: inline-block;
  vertical-align: middle;
  padding-right: 9px;
  background-image: url("../images/cart.svg");
}

.page-main {
  flex-grow: 1;
}

.slider-section .container {
  position: relative;
  margin-bottom: 160px;
}

.slider-item {
  display: none;
}

.slide-active {
  display: grid;
  align-items: center;
  grid-template-columns: 470px 350px auto auto;
  gap: 68px;
}

.slider-title {
  max-width: 470px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider-description {
  max-width: 414px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
}

.slider-image-wrapper {
  position: relative;
}

.slider-image-wrapper::before {
  content: "";
  display: block;
  width: 312px;
  height: 312px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  z-index: -1;
}

.slider-order-btn {
  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  background-color: #fcfcfc;
  outline: solid 4px rgba(252, 252, 252, 0.4);
  border-radius: 26px;
}

.slider-buttons-wrapper {
  position: absolute;
  top: 240px;
  left: 560px;
  display: flex;
  justify-content: space-between;
  width: 348px;
}

.slider-btn {
  padding: 15px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/slider-btn.svg");
  background-size: 6px 11px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider-btn:nth-child(2) {
  transform: rotate(180deg);
}

.next-slides-wrapper {
  position: absolute;
  top: 200px;
  left: 940px;
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.next-slide-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(252, 252, 252, 0.2);
  border-radius: 50%;
}

.next-slide {
  position: absolute;
  top: -25%;
  left: 15%;
  display: block;
  height: 150px;
  width: 66px;
  background-size: 66px 140px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.first-slide {
  background-image: url("../images/slider-image-1.png");
}

.second-slide {
  background-image: url("../images/slider-image-2.png");
}

.third-slide {
  background-image: url("../images/slider-image-3.png");
}

.slider-pagination-list {
  position: absolute;
  left: -40px;
  display: flex;
  width: 52px;
  list-style-type: none;
}

.slider-pagination-item:not(:last-of-type) {
  margin-right: 8px;
}

.slider-pagination-btn {
  border: none;
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-active {
  background-color: #fcfcfc;
}

.slider-social-list {
  position: absolute;
  right: 0;
  display: flex;
  list-style-type: none;
}

.slider-social-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: solid 4px rgba(252, 252, 252, 0.4);
}

.slider-social-item:not(:last-of-type) {
  margin-right: 16px;
}

.slider-social-btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-social-item:nth-child(1) .slider-social-btn::before {
  background-image: url("../images/vk.svg");
}

.slider-social-item:nth-child(2) .slider-social-btn::before {
  background-image: url("../images/facebook.svg");
}

.slider-social-item:nth-child(3) .slider-social-btn::before {
  background-image: url("../images/insagram.svg");
}

.section-title {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.gifts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  list-style-type: none;
  justify-items: center;
}

.gifts-item {
  max-width: 570px;
  min-width: 540px;
  position: relative;
  padding: 40px;
  background-color: #ff7799;
  border-radius: 16px;
}

.gifts-item::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  display: block;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 85%;
}

.gifts-item:first-of-type::after {
  width: 181px;
  height: 284px;
  background-image: url("../images/gifts-first.png");
}

.gifts-item:last-of-type::after {
  right: 0;
  width: 232px;
  height: 270px;
  background-image: url("../images/gifts-second.png");
}

.gift-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.gift-description {
  max-width: 320px;
  margin-bottom: 32px;
}

.gifts-item .button {
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.popular-products-section .section-title {
  margin-bottom: 100px;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  list-style-type: none;
}

.popular-item {
  position: relative;
  max-width: 270px;
  min-width: 190px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.popular-item::before {
  content: "";
  display: block;
  width: 168px;
  height: 168px;
  position: absolute;
  top: -90px;
  right: 50px;
  background-size: 168px 168px;
  background-repeat: no-repeat;
  background-position: center;
}

.popular-item:nth-child(1)::before {
  background-image: url("../images/popular-1.png");
}

.popular-item:nth-child(2)::before {
  background-image: url("../images/popular-2.png");
}

.popular-item:nth-child(3)::before {
  background-image: url("../images/popular-3.png");
}

.popular-item:nth-child(4)::before {
  background-image: url("../images/popular-4.png");
}

.product-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-description {
  margin: 0;
  margin-bottom: 20px;
}

.price-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.to-cart-btn {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ff2f64;
  cursor: pointer;
}

.to-cart-btn svg {
  margin-top: 4px;
  margin-right: 1px;
  fill: var(--white);
}

.to-cart-btn:hover {
  background-color: var(--white);
  border: 2px solid #ff2f64;
}

.to-cart-btn:hover svg {
  fill: var(--black);
}

.to-cart-btn:active {
  background-color: #ff2f64;
  border: 2px solid var(--black);
}

.to-cart-btn:active svg {
  fill: var(--white);
}

.to-cart-btn:disabled {
  background-color: #898989;
  border: none;
  cursor: auto;
}

.to-cart-btn:disabled svg {
  fill: var(--black);
}